.profile {
  &__name {
    font-size: 25px;
  }

  &__background {
    position: relative;
  }

  &__backgroundImage {
    padding-top: 33.33%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__image {
    width: 125px;
    position: absolute;
    bottom: -70px;
    left: 10px;
    height: 125px;
    border: 2px solid black;
    border-radius: 100%;
  }

  &__edit {
    display: flex;
    height: 6rem;
    justify-content: flex-end;
    align-items: center;
    padding: $box-padding;
  }

  &__button {
    @include btn($black, $blue);
    border-radius: 2rem;
    border: 0.2rem solid $blue;
  }
}
