{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["react", "plugin:react/recommended", "eslint:recommended"],
  "rules": {
    "indent": [2, "tab"]
  }
}
