// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$likes_background: rgba(255, 0, 0, 0.2);
$comment_background: rgba(0, 255, 255, 0.2);
$retweet_background: rgba(0, 230, 64, 0.2);

// margins
$margin_left: 0.5rem;
$margin_right: 0.5rem;

// fonts
$handler_height: 3.5rem;
$handler_weight: 3.5rem;
$parent_tweet_font: 2rem;
