.button {
  display: flex;
  flex-direction: row;
  padding: 10px 5px;
  width: 100%;

  &__info {
    padding: 0px 5px;
  }

  &__image {
    border-radius: 100%;
    width: 40px;
    height: 40px;
  }

  &__body {
    width: calc(100% - 45px);
    padding: 5px 15px;
    font-size: 18px;
  }

  &__message {
    margin-bottom: 10px;

    &:empty:before {
      content: attr(placeholder);
      position: absolute;
      color: gray;
      background-color: transparent;
    }

    &:focus {
      outline: none;
    }
  }

  &__helpers {
    display: flex;
    justify-content: flex-end;
  }

  &__submit {
    border-radius: 25px;
    padding: 5px 10px;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

.following__button {
  padding: 5px 10px;
  border-radius: 16px;
  font-size: 14px;
  cursor: pointer;
  background-color: transparent;
  position: relative;
  width: 100px;

  &:focus {
    outline: none;
  }

  &--unfollow {
    color: white;
    background-color: blue;
    &:after {
      content: 'Following';
    }
    &:hover {
      background-color: red;
    }
    &:hover:after {
      content: 'Unfollow';
    }
  }

  &--follow {
    font-weight: 500;
    &:after {
      content: 'Follow';
    }
    &:hover {
      background-color: rgba(211, 211, 211, 0.4);
      &:after {
        content: 'Follow';
      }
    }
  }
}
