.button {
  display: flex;
  flex-direction: row;
  padding: 1rem 0.5rem;
  width: 100%;
  border-style: solid;
  border-color: #dee2e6;
  border-width: 1px 1px 10px 1px;

  &__info {
    padding: 0px 5px;
  }

  &__image {
    border-radius: 100%;
    width: 40px;
    height: 40px;
  }

  &__body {
    width: calc(100% - 45px);
    padding: 5px 15px;
    font-size: 18px;
  }

  &__message {
    margin-bottom: 10px;

    &:empty:before {
      content: attr(placeholder);
      position: absolute;
      color: gray;
      background-color: transparent;
    }

    &:focus {
      outline: none;
    }
  }

  &__helpers {
    display: flex;
    justify-content: flex-end;
  }

  &__submit {
    border-radius: 25px;
    padding: 5px 10px;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

.following__button {
  padding: 0.5rem 1rem;
  border-radius: 1.6rem;
  font-size: 1.4rem;
  cursor: pointer;
  position: relative;
  width: 100px;

  &:focus {
    outline: none;
  }

  &--unfollow {
    @include btn($blue, #fff, $red);
    &:after {
      content: 'Following';
    }

    &:hover:after {
      content: 'Unfollow';
    }
  }

  &--follow {
    font-weight: 500;
    &:after {
      content: 'Follow';
    }
    &:hover {
      background-color: rgba(211, 211, 211, 0.4);
      &:after {
        content: 'Follow';
      }
    }
  }
}
