.follower {
  &__button {
    border-radius: 2rem;
    font-size: 1.4rem;
    cursor: pointer;
    position: relative;
    width: 10rem;

    &--unfollow {
      @include btn($blue, #fff, $red);

      &:after {
        content: 'Following';
      }

      &:hover:after {
        content: 'Unfollow';
      }
    }

    &--follow {
      @include btn($black, $cyan);
      border: 0.1rem solid $cyan;

      &:after {
        content: 'Follow';
      }
    }
  }
}
