.handlers {
  display: flex;
  padding: $button-padding;
  justify-content: space-around;
  align-items: center;

  &__handler {
    display: inline-block;
  }

  &__countInline {
    display: inline-block;
    margin-left: 0.5rem;
    width: 2rem;
    height: 4rem;
  }

  &__count {
    display: inline-block;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 100%;
    height: 100%;

    &--comment:hover {
      background: rgba($comment_background, 0.2);
      color: $comment_background;
    }

    &__comment:hover + .handlers__count {
      color: $comment_background;
    }

    &--retweet:hover {
      background: rgba($retweet_background, 0.2);
      color: $retweet_background;
    }

    &--likes:hover {
      background: rgba($likes_background, 0.2);
      color: $likes_background;
    }
  }

  &__button {
    display: inline-block;
    width: $handler-width;
    height: $handler-width;
    border-radius: 100%;
    text-align: center;
    cursor: pointer;
  }
}
