.link {
  color: black;

  &:hover {
    color: black;
  }

  &--underline {
    &:hover {
      text-decoration: underline;
    }
  }

  &--noUnderline {
    &:hover {
      text-decoration: none;
    }
  }
}

.handlers {
  width: 100%;
  display: flex;
  justify-content: space-around;

  &__button {
    width: $handler_weight;
    height: $handler_height;
    border-radius: 100%;
    text-align: center;
    padding-top: 0.5rem;

    &--likes {
      &:hover {
        background: $likes_background;
      }
    }

    &--comment {
      &:hover {
        background: $comment_background;
      }
    }

    &--retweet {
      &:hover {
        background: $retweet_background;
      }
    }
  }
}
