.TweetParent {
  font-weight: bold;
  padding: 0.5rem 2rem;

  &__header {
    display: flex;
    justify-content: flex-start;
  }

  &__photo {
    height: $parent-image-height;
    width: $parent-image-width;
    border-radius: 100%;
  }

  &__info {
    padding: 0px 0.5rem;
  }

  &__author {
    font-weight: bolder;
  }

  &__username {
    color: $dark-grey;
    margin-top: -1rem;
  }

  &__body {
    padding: 2rem 0;
  }

  &__tweet {
    font-size: 2.2rem;
  }

  &__dateInfo {
    padding: 1.5rem 0;
    font-size: 1.8rem;
    border-bottom: 0.1rem solid $dark-grey;
  }

  &__time {
    color: $dark-grey;
  }

  &__date {
    color: $dark-grey;
    margin-left: $margin-left;
  }

  &__stats {
    color: $dark-grey;
    padding: 1.5rem 0;
    border-bottom: 0.1rem solid $dark-grey;
  }

  &__likes {
    margin-left: 1.5rem;

    &:hover {
      text-decoration: underline;
    }
  }

  &__retweets {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  &__counts {
    color: $white;
  }
}
