.tweetButton {
  display: flex;
  flex-direction: row;
  padding: $box-padding;
  width: 100%;
  border-top: 0.1rem solid $dark-grey;
  border-bottom: 1rem solid $dark-grey;

  &__info {
    padding: 0rem 0.5rem;
  }

  &__image {
    @include TweetImage();
  }

  &__body {
    width: calc(100% - #{$image-width});
    padding: 0.5rem 0;
  }

  &__message {
    background: inherit;
    color: $white;
    border: none;
    resize: none;
    width: calc(100% - #{$image-width});

    &:focus {
      outline: none;
    }
  }

  &__helpers {
    display: flex;
    justify-content: flex-end;
  }

  &__submit {
    border: none;
    border-radius: 2.5rem;
    @include btn($blue);

    &:disabled {
      cursor: default;
      opacity: 0.4;

      &:hover {
        pointer-events: none;
      }
    }
  }
}
