.tweet {
  padding: $box-padding;
  width: 100%;
  display: flex;
  position: relative;
  border-bottom: 0.1rem solid $dark-grey;
  cursor: pointer;

  &:hover {
    background: rgba($dark-grey, 0.15);
  }

  &__body {
    padding: 0px 0.5rem;
    width: calc(100% - #{$image-width});
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
  }

  &__author {
    font-weight: bolder;

    &:hover {
      text-decoration: underline;
    }
    &--disabled {
      cursor: default;
      &:hover {
        background: none;
        text-decoration: none;
      }
    }

    &--enabled {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
        text-decoration-color: gray;
      }
    }
  }

  &__username {
    margin-left: $margin-left;
    color: $dark-grey;
  }

  &__date {
    margin-left: $margin-left;
    color: $dark-grey;
  }

  &__image {
    position: relative;
    margin-right: 1rem;
  }

  &__photo {
    width: $image-width;
    height: $image-height;
    border-radius: 100%;
  }

  &__line {
    position: absolute;
    left: 50%;
    top: 4.5rem;
    background: gray;
    height: calc(100% - 40px);
    width: 3px;
  }
}
