.TweetCompose {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba($black, 0.4);

  &__header {
    padding: 0.5rem 0;
    cursor: pointer;
  }

  &__icon {
    height: $handler-width;
    width: $handler-width;
  }

  &__close {
    border-radius: 100%;

    &:hover {
      background: rgba($blue, 0.2);
      color: $blue;
    }
  }

  &__modal {
    border: 0.1rem solid $dark-grey;
    background: $black;
    width: 40rem;
    margin: 0 auto;
    color: $white;
    margin-top: 15rem;
    padding: 0.5rem 1rem;
  }
}
