.user {
  display: flex;
  padding: 1rem 0;
  border-bottom: 0.1rem solid rgba($dark-grey, 0.7);
  cursor: pointer;

  &__image {
    padding: $flex-padding;
  }

  &__photo {
    height: $image-height;
    width: $image-width;
    border-radius: 100%;
  }

  &__body {
    width: calc(100% - #{$image-height});
    padding: 0 0.5rem;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__username {
    color: $dark-grey;
    margin-top: -1rem;
  }

  &__biography {
    min-height: 4rem;
    overflow-wrap: break-word;
  }
}
