@mixin btn($color-background, $color-text: #fff, $color-hover: '') {
  color: $color-text;
  padding: $button-padding;
  background: $color-background;
  height: 4rem;

  &:not(:disabled):hover {
    @if $color-hover != '' {
      background: $color-hover;
    } @else {
      background: rgba($white, 0.1);
    }
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

@mixin TweetImage() {
  width: $image-width;
  height: $image-height;
  border-radius: 100%;
}
