// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$navy-blue: #000080;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$grey: #dee2e6;
$dark-grey: #808080;
$white: #fff;
$black: #000;

$likes_background: rgb(255, 0, 0);
$comment_background: rgb(0, 255, 255);
$retweet_background: rgb(0, 230, 64);

// margins
$margin_left: 0.5rem;
$margin_right: 0.5rem;

// fonts
$handler-width: 4rem;
$handler-height: 4rem;
$parent_tweet_font: 2rem;
$image-height: 6rem;
$image-width: 6rem;
$parent-image-width: 6rem;
$parent-image-height: 6rem;
$profile-image-height: 12.5rem;
$profile-image-width: 12.5rem;

// button info
$button-padding: 0.5rem 1.5rem;
$box-padding: 1rem 1.5rem;
$flex-padding: 0rem 0.5rem;
$height-padding: 0.5rem 0;

// font sizes
$large-font: 2.4rem;
$normal-font: 2rem;
