.tweet,
.tweetModal,
.comment {
  padding: 10px 5px;
  width: 100%;
  display: flex;
  position: relative;

  &:hover {
    cursor: pointer;
    background: #f0f0f0;
  }

  &--disabled {
    cursor: auto;
    &:hover {
      background: none;
    }
  }

  &--enabled {
    cursor: pointer;
    &:hover {
      background: rgba(226, 226, 230, 0.2);
    }
  }

  &__author {
    font-weight: 500;
    color: black;
    cursor: pointer;

    &:hover {
      color: black;
    }
  }

  &__username {
    &--block {
      display: block;
    }
  }

  &__date {
    &--disabled {
      display: none;
    }
  }

  &__image {
    padding: 5px;
    position: relative;
  }

  &__photo {
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }

  &__line {
    position: absolute;
    left: 50%;
    top: 35px;
    background: lightgray;
    height: calc(100% - 40px);
    width: 3px;
  }

  &__body {
    padding: 10px;
    font-size: 18px;
    width: calc(100% - 45px);
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
  }

  &__tweet {
    &--font {
      font-size: 18px;
    }
  }

  &__mainInfo {
    margin-top: 40px;
  }
} 

.col-12 {
  padding: 0;
}

.option {
  border-radius: 100%;
  width: 70px;
  height: 35px;
  display: flex;
  flex-direction: row;

  &__image {
    position: relative;
    border-radius: 100%;
    width: 50%;
    height: 100%;
  }

  &__count {
    position: relative;
    width: 50%;
    height: 100%;
    text-align: center;
    padding-top: 4px;
    box-sizing: border-box;
  }

  &__icon {
    position: absolute;
    top: 25%;
    left: 25%;
  }

  &__comment {
    &:hover {
      background: rgba(0, 255, 255, 0.1);
    }
  }

  &__like {
    &:hover {
      background: rgba(255, 0, 0, 0.1);
    }
  }
}
