@use '../_variables.scss';

.tweet {
  padding: 10px 5px;
  width: 100%;
  display: flex;
  position: relative;

  &--disabled {
    cursor: auto;
    &:hover {
      background: none;
    }
  }

  &--enabled {
    cursor: pointer;
    &:hover {
      background: rgba(226, 226, 230, 0.2);
    }
  }

  &__author {
    font-weight: 500;
    color: gray;

    &--disabled {
      cursor: default;
      &:hover {
        background: none;
        text-decoration: none;
      }
    }

    &--enabled {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
        text-decoration-color: gray;
      }
    }

    &--block {
      display: block;
      margin-left: 0;
    }

    &--span {
      display: inline-block;
      margin-left: $margin-left;
    }
  }

  &__username {
    &--span {
      margin-left: $margin-left;
    }

    &--block {
      display: block;
      margin-left: 0;
      margin-top: -5px;
    }
  }

  &__date {
    margin-left: $margin-left;
    &--disabled {
      display: none;
    }
  }

  &__image {
    position: relative;
    padding-top: 5px;
  }

  &__photo {
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }

  &__line {
    position: absolute;
    left: 50%;
    top: 35px;
    background: gray;
    height: calc(100% - 40px);
    width: 3px;
  }

  &__body {
    padding: 0px 10px;
    width: calc(100% - 45px);
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
  }

  &__tweet {
    &--font {
      font-size: 18px;
    }
  }

  &__mainInfo {
    margin-top: 40px;
  }

  &__handlers {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}

.col-12 {
  padding: 0;
}

.option {
  border-radius: 100%;
  width: 70px;
  height: 35px;
  display: flex;
  flex-direction: row;

  &__image {
    position: relative;
    border-radius: 100%;
    width: 50%;
    height: 100%;
    color: black;
  }

  &__count {
    position: relative;
    width: 50%;
    height: 100%;
    text-align: center;
    padding-top: 4px;
    box-sizing: border-box;
  }

  &__icon {
    position: absolute;
    top: 25%;
    left: 25%;
  }

  &__comment {
    &:hover {
      background: rgba(0, 255, 255, 0.1);
    }
  }

  &__like {
    &:hover {
      background: rgba(255, 0, 0, 0.1);
    }
  }
}
